# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp files
*.tmp

# Data (optionnel si vous ne voulez pas push)
data/

# Report
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.out
*.log
*.toc
*.bbl
*.blg